footer {
  background: #F2F2F2;
  //height: 50px;
  border-top: 1px solid #E4E4E4;
  margin-bottom: 0;
  width: 100%;
  overflow: hidden;
  font-size: 13px;
  height: 50px;
  position:absolute;
  bottom:0;
  left:0;
}

footer ul {
  list-style: none;
}

footer ul li {
  display: inline;
  line-height: 50px;
  //margin-top: 20px;
  margin-left: 20px;
  &:hover{
    cursor: pointer;
  }
}

footer .links, footer .links:hover {
  color: #6A7796 !important;
}